@font-face {
    font-family: "MortalKombat";
    src: url(./mk2.ttf);
}

body{
    margin: 0px;
}

#arriba{
    width: 100%;
    height: 100%;
    display: inline-flex;
    margin: 0px;
}

#abajo{
    width: 100%;
    height: 100%;
    display: inline-flex;
    margin: 0px;
    align-items: center;
}

#comida{
    background-color: rgb(162, 254, 24);
    width: 50vw;
    height: 50vh;
}

#deporte{
    background-color: rgb(246, 246, 52);
    width: 50vw;
    height: 50vh;
}

#pelea{
    background-color: rgb(220, 83, 83);
    width: 50vw;
    height: 50vh;
}

#dormir{
    background-color: aquamarine;
    width: 50vw;
    height: 50vh;
}

#rajoy{
    position: absolute;
    margin-top: 25vh;
    margin-left: 41vw;
    
}

#bandera{
    margin-top: 5%;
    margin-left: 5%;
}

#puigdemont{
    margin-left: 15%;
}

#comunismo{
    margin-left: 15%;
}

#fight{
    margin-top: 20%;
    margin-left: 40%;
    font-family: "MortalKombat";
    font-size: 50px;
}
